pandas==1.4.3
seaborn==0.11.2
matplotlib==3.4.3
numpy==1.23.2
scikit-learn==1.1.2
scipy==1.9.0
xgboost==1.6.1
tqdm==4.64.0
setuptools==59.5.0
prophet==1.1
statsmodels==0.13.2
inspect-it==0.3.2
plotly-express==0.4.1
catboost==1.0.6
